# --- Laravel Core ---
/vendor/
node_modules/
.env
.env.local
.env.backup
.env.production
.phpunit.result.cache
/public/build/
/public/storage
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

# --- Nix & direnv ---
.direnv/

# --- Testing & IDE ---
.phpunit.cache/
.vscode/
.idea/
.DS_Store
*.swp
*.bak
auth.json

# --- Vite / Frontend ---
dist
/public/hot